html{
    height: 100%;
    margin:0;
    padding:0;
  }
  body {  
    font-family: "Lato", sans-serif;
    background-color: #070A0D;
    color: #f9fafb;
    height: 100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
  }
  h3 {
/*    font-size:4vw;*/
    
    margin:0;
    padding:0;
    text-align:center;
    display:inline-block;
    white-space: nowrap;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
/*    width: 100vw;*/
  }

  @keyframes gentlePopPositive {
    0% {
      transform: scale(0.45) rotate(0deg); 
    }
    100% {
      transform: scale(0.38) rotate(5deg);
    }
  }
  @keyframes gentlePopNegative {
    0% {
      transform: scale(0.45) rotate(0deg); 
    }
    100% {
      transform: scale(0.38) rotate(-5deg);
    }
  }
  @keyframes splatAnimation {
    to {
      transform: translateY(-50%) scaleX(2);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translate(0, 0) scale(.5); 
    },  
    20% {
       transform: translate(0, -12vh) scale(.8); 
    }
    100% {
      transform: translate(0, -130vh) scale(.8); 
    }
  }


@keyframes slideDown {
    0% {
      transform: translate(0, 0) scale(.5); 
    },  
    20% {
       transform: translate(0, 12vh) scale(.8); 
    }
    100% {
      transform: translate(0, 130vh) scale(.8); 
    }
  }

  @keyframes grow {
    0% {
      transform: scale(0); 
    }
    100% {
      transform: scale(1); 
    }
  }

  .sticker{
    
    position:fixed;
    animation: gentlePopPositive 0.9s ease-out forwards; 
    pointer-events:none;
    z-index: 100; /* Ensure stickers are above most other elements */
    filter: drop-shadow(0px 2px 12px rgba(0,0,0,0.2));
  }

  .sticker.negative{
    animation: gentlePopNegative 0.8s ease-out forwards; 
  }

  .googleEmoji{
    position:fixed;
    animation: slideUp 8s ease-out; 
    pointer-events:none;
    z-index: 100; /* Ensure animated emojis are above most other elements */
/*    filter: drop-shadow(0px 2px 12px rgba(0,0,0,0.2));*/
    margin-left:-25%;
  }

  #emojiCanvas{
    width:100%;
    height:100%;
    position:fixed;
    pointer-events: none;
    /* z-index: -1;  Removing this should be fine, body is the first element */
    left:0;
    bottom:0;
    right:0;
    top:0;
  }

.header {
/*  transition: transform 0.3s ease;*/
  cursor: pointer;
  text-shadow: 0 0 20px 3px rgba(255,0,0,.75);
  transition: all 750ms cubic-bezier(.47,1.64,.41,.8);
}

.link-container{
  transition: all 750ms cubic-bezier(.47,1.64,.41,.8);
}

.link-container.hidden{
/*  transform: scale(.2);*/
  opacity:0;
  pointer-events: none;
}

.link:hover {
  z-index: 1000; /* Ensure hovered link is on top */
}


.link:hover  a, .link a.activeLink  {
  color:#F94AAB;
/*  background:D71481;*/
  color: transparent;
  background: linear-gradient(0deg, #F90F92, 55%, #FF74C1);
  background-clip: text;
}


.link-container .sections{
  z-index: 100; /* Give this a high value to be above the grid */
}

.link-container{
 z-index: 1000; 
}

.sections{
  list-style-type:none;
  padding:0;
}

.link-container h3{
  font-family: "Dynapuff", sans-serif;
}

.link-container .link:hover{
  transform: scale(1.35);
  z-index: 1000;
}

.emojiToggle{
  font-family: "Noto Emoji";
  font-size: 50px;
  font-weight: 200;
  cursor:pointer;
  border-radius: 12px;
  display:inline-block;
  padding:12px;
}

.emojiToggle.activeEmoji, .emojiToggle:hover{
  background:#fff;
  color:#000;
}

.link a{
  color:#fff;
  text-decoration: none;
  background: linear-gradient(0deg, #fff, 55%, #d00);
  background-clip: text;
  letter-spacing:.2vw;
  font-size: clamp(2.3rem, 4.6vw, 4.6rem);
}




.controls{
  background:rgba(0,0,0,.9);
  max-width:400px;
  padding:24px 48px;
  border-radius: 50px;
  position: fixed;
  bottom:-1000px;
}

.toggles{
}

#emojiCanvas{
  font-variant-emoji: text;
}
.emojiCharacter{
  position:absolute;
  font-size: 28px;
  font-family: "Noto Emoji", sans-serif;
  font-weight: 100;
  display:inline-block;
  color:#A4A7D4;
  z-index:-1;
}

.emojiCharacter:hover{
}

.notoBG{
  background-color:#000B24 ;
}

.subsection{
  height:0;
  overflow:hidden;
  transition: height .7s;
  display:flex;
  justify-content: center;
}

.section{
  text-align:center;
  margin:0;
  padding:0;
}

.active .subsection{
  height:auto;
}
  .grid-wrapper {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 50; /* Give the grid a z-index, lower than the fixed elements */
    }


  .background-grid {
      display: grid;
      gap: 20px;
    }

  .grid-cell {
    background-color: #f0f8ff;
      background: rgba(255, 255, 255, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      border-radius: 12px;
      aspect-ratio: 8.5 / 11;
      animation: fadeIn 0.4s ease-out forwards;
       transform: scale(0.95);
    opacity: 0;
    transition: transform 0.2s ease-out;
    flex-direction: column;
    position:relative;
    z-index: 1; /*Make sure grid cells are above the grid wrapper*/

    }

    .grid-cell::before{
    content: ' ';
    position: absolute;
    top: 20px;
    right: 0;
    border-bottom: 20px solid rgba(255, 255, 255, 0.15);
    border-left: 20px solid #090a0b;
    width: 0;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, .2);
    transform-origin: top right;
    transform: rotate(90deg);
    border-radius: 0 0 5px 0;
    }

   .grid-cell a.emojiLink {
      text-decoration: none;
      color: inherit;
      pointer-events: auto;
      transition: transform .8s cubic-bezier(0.175, 0.885, 0.320, 1.275);
      z-index: 1;
      font-size:5vw;
      text-decoration: none !important;
    }

    .grid-cell a.textLink{
      
      font-size:14px;
      color:#fff;
      text-align:center;
      padding:8px 16px;
      text-decoration: none;
      position: absolute;
      bottom: 10%;
      background:rgba(255,255,255,.05);
      border-radius:20px;
      transition: opacity .5s, bottom .7s, transform .7s;
      opacity: 0;
      transform: scale(.5);
    }

    .grid-cell:hover a.textLink{
      opacity: 1;
      bottom: 10%;
      transform: scale(1);
    }
    .grid-cell:hover a.emojiLink{
      transform:scale(2);

    }

      @keyframes fadeIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

nav{
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding:16px;
  z-index: 200; /* Sit on top of everything */
/*  background:#070A0D;*/
}

nav ul{
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
}

nav li{
  padding:16px;
}

nav li:first-child{
  width: 100%;
}

nav a{
  font-family: "Lato", serif;
  text-transform: uppercase;
  color:#fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size:.85rem;
}

nav a.active, nav a:hover{
  text-decoration:underline;
  text-underline-offset: 6px;
}

.modal{
  padding:32px;
  background:#fff;
  color:#fff;
  box-shadow:0 0 20px rgba(9,12,17,.5);
  max-width:440px;
  max-height:50%;
  display:flex;
  flex-direction: column; 
  border-radius:32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display:none;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*.container {
    display: flex;
    justify-content: center;
}
   */ 
.modal iframe {
  aspect-ratio: 16 / 9;
  width: 100% !important;
  border-radius:16px;
  margin-top:24px;
}


@media only screen and (max-width: 767px) and (orientation: portrait),
       only screen and (max-width: 767px) and (orientation: landscape) {
  .modal { 

    left:0;
    right:0;
    bottom:0;
    transform:none;
    border-radius:16px 16px 0 0;
  }
  nav{
  
    padding:0;
  
  }
  /*.modal-visible .sections{
    display:none;
  }*/
  .grid-cell a.textLink{
    display:none;
  }
}


.modal h4{
  font-size:36px;
  margin: 0 0 4px;
  padding:0;
  font-family: "Dynapuff", sans-serif;
  letter-spacing: 2px;  
  
  /*color: transparent;
  background: linear-gradient(to bottom, #FFF1D2, #F2CE80);
  background-clip: text;*/
  color:#333;
}

.modal p{
  line-height:160%;
  color:rgba(0,0,0,.87);
}

.modal.is-visible{
  display:block;
}

.modal a{
  text-decoration: none;
  color:#FA1093;
}

.modal a:hover{
  text-decoration: underline;
}

.close{
  width: 40px;
  height: 40px;
  background:rgba(0,0,0,.05);
/*  color:#000;*/
  border-radius:20px;
  position:absolute;
  right:12px;
  top:12px;
/*  vertical-align: center;*/
  text-align: center;
  display: flex;
  cursor:pointer;
  align-items: center;
  justify-content: center;
  font-weight:bold;
}

.close img{
  opacity:.5;
}

.scrim{
/*  background:rgba(0,244,0,.1);*/
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  z-index:500;
  display:none;
}

.scrim.is-visible{
   display:block; 
}

.info{
  display:none;
}

.info ul{
  margin: 0;
  padding:0;
}

.info li{
  margin: 0 0 8px;
}

.info .listIcon{
  padding-right:12px;
}

.info-active{
  display:block;
}


#dynapuffHolder{

  position: fixed;
  left:-50px;
  right:-50px;
  bottom:-50px;
  top:-50px;
/*  display:none;*/
  text-align: center;
}

.letter {
  font-family: "Dynapuff", sans-serif;
  font-size:12vw;
  letter-spacing:.5vw;
  padding:1vw;
  color:#fff;
  opacity: 0;
  font-weight: bold;
  transition: opacity 1s ease-in-out;
  display: inline-block;
/*  animation: fadeLetterIn .7s forwards; /* Changed to animation */*/
  animation-delay: calc(var(--index) * 0.2s); /* Simplified delay */
}

.showLetter{
  animation: fadeLetterIn .7s forwards; /* Changed to animation */
  animation-play-state:running;
}

/* Keyframes for the fade-in animation */
@keyframes fadeLetterIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

