
  /*@font-face {
    font-family: 'Noto Emoji';
    src: url('https://raw.githubusercontent.com/googlefonts/noto-emoji/main/fonts/NotoEmoji-Regular.ttf') format('truetype');
  }*/

  html{
    height: 100%;
    margin:0;
    padding:0;
  }
  body {  
    font-family: "Lato", sans-serif;
    background-color: #000;
/*    background-color: #000B24;*/
    color: #f9fafb;
    height: 100%;
    margin:0;
    padding:0;
  }
  h3 {
    font-size:4rem;
    margin:0;
    padding:0;
    text-align:center;
    display:block;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }


  @keyframes gentlePopPositive {
    0% {
      transform: scale(0.45) rotate(0deg); 
    }
    100% {
      transform: scale(0.38) rotate(5deg);
      
    }
  }
  @keyframes gentlePopNegative {
    0% {
      transform: scale(0.45) rotate(0deg); 
    }
    100% {
      transform: scale(0.38) rotate(-5deg);
      
    }
  }

  
  


  @keyframes splatAnimation {
    to {
      transform: translateY(-50%) scaleX(2);
    }
  }


  @keyframes slideUp {
    0% {
      transform: translate(0, 0) scale(.5); 
    },  
    20% {
       transform: translate(0, -12vh) scale(.8); 
    }
    100% {
      transform: translate(0, -130vh) scale(.8); 
    }
  }

  @keyframes grow {
    0% {
      transform: scale(0); 
    }
    100% {
      transform: scale(1); 
    }
  }

  .sticker{
    position:fixed;
    animation: gentlePopPositive 0.9s ease-out forwards; 
/*    animation-delay: 1s;*/
    pointer-events:none;
    z-index:10;
/*      transform: translateY(-50%) scaleX(0.2);*/
/*    animation: splatAnimation 0.8s ease-out forwards; /* Apply animation */*/

/*    box-shadow: 0 0 12px rgba(0,0,0,.2);*/
  }

  .sticker.negative{
    animation: gentlePopNegative 0.8s ease-out forwards; 
  }

  .googleEmoji{
    position:fixed;
    animation: slideUp 8s ease-out; 
    pointer-events:none;
    z-index:10;
  }

  
  #emojiCanvas{
    width:100%;
    height:100%;
    position:fixed;
    pointer-events: none;
    z-index:-1;
    left:0;
    bottom:0;
    right:0;
    top:0;
/*    display:none;*/
  }

.header {
  transition: transform 0.3s ease;
  cursor: pointer;
/*  font-size: 16px;*/
/*  padding: 8px 16px;*/
/*  border: 1px solid #ccc;*/
/*  border-radius: 4px;*/
}

.link:hover {
/*  transform: scale(1.15); /* Scale up on hover */*/
  z-index: 1000; /* Ensure hovered link is on top */
}

.link-container .sections{
  z-index:10000;
}

.link-container{
 z-index:10000; 
}

.sections{
  list-style-type:none;
}

.link-container h3{
  font-family: "Dynapuff", sans-serif;
}

/* Logic for scaling based on distance */
/*.link{
   transform-origin: left;
}
*/
.link-container .link:hover,.link-container .link.active {
  transform: scale(1.5); /* Scale up hovered link */
  z-index:1000;
}

/*#noto.active{
  color:#6674C0 !important;
}
*/
.emojiToggle{
  font-family: "Noto Emoji";
  font-size: 50px;
  font-weight: 200;
  cursor:pointer;
  border-radius: 12px;
  display:inline-block;
  padding:12px;
}

.emojiToggle.activeEmoji, .emojiToggle:hover{
  background:#fff;
  color:#000;
}

/*#emojiKitchen.active{
  color:#FF00FF;  
}

#googleEmoji.active{
  color:#F94AAB;
}*/


.active{
  color:#F94AAB;
}

.controls{
  background:rgba(0,0,0,.9);
  max-width:40%;
  padding:24px 48px;
  border-radius: 50px;
  position: fixed;
  bottom:-500px;
  display:flex;
  flex-direction: column; 
  z-index:100000;
}

.toggles{
/*  display:none;*/
}

/*.link-container{
  margin-top:-60px;
}*/
#emojiCanvas{
  font-variant-emoji: text;
}
.emojiCharacter{
  position:absolute;
  font-size: 28px;
  font-family: "Noto Emoji", sans-serif;
/*  animation: gentlePopNegative 0.8s ease-out forwards;*/
  font-weight: 100;
  display:inline-block;
/*  transition: font-size .5s;*/
  color:#A4A7D4;
/*   transform-origin: -50% 50%;*/
  z-index:-1;
  /*transition: transform 0.2s ease-out;
            transform-origin: center;*/
}

.emojiCharacter:hover{
/*  font-size: 100px;*/
  
/*  color:#f00;*/
/*  cursor: default;*/
/*  transform: scale(2); */
}

.notoBG{
  background-color:#000B24 ;
}

.subsection{
  height:0;
  overflow:hidden;
  transition: height .7s;
  display:flex;
  justify-content: center;
}

.active .subsection{
  height:auto;
}
  .grid-wrapper {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
/*      pointer-events: none;*/
/*      z-index: -1;*/
    }


  .background-grid {
      display: grid;
      gap: 20px;
/*      pointer-events: none;*/
    }

 .grid-cell {
      background: rgba(255, 255, 255, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      border-radius: 6px;
      aspect-ratio: 8.5 / 11;
      animation: fadeIn 0.4s ease-out forwards;
       transform: scale(0.95);
    opacity: 0;
    transition: transform 0.2s ease-out;
    }

    .grid-cell .textLink{
      display:none;
    }

   .grid-cell a.emoji-link {
      text-decoration: none;
      color: inherit;
      pointer-events: auto;
      transition: transform 0.2s ease-out;
      z-index: 1;
    }
      @keyframes fadeIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  /*.grid-cell a:hover {
    transform: scale(3);
  }*/
  .grid-cell:hover a{
/*    transition: transform 0.2s ease-out;*/
    transform: scale(2);
  }
    
nav{
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding:16px;
}

nav ul{
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
}

nav li{
/*  display:flex;*/
  padding:16px;
}

nav li:first-child{
  width: 100%;
}

nav a{
  font-family: "Lato", serif;
  text-transform: uppercase;
  color:#fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1.5px;
}

nav a.active, nav a:hover{
  text-decoration:underline;
  text-underline-offset: 6px;
}